
:root{
    --primary-clr--: #0d313e;
    --secondary-clr--: #d6bbb0;
    --third-clr--: #97929f;
    --margin--: 4% 5%;
    --margin-section: 25% 5% 5% 5%;
    --section-heading-fs: 2rem;
    --section-sub-heading-fs: 1rem;
}

.home-section{
margin: var(--margin--);
}

.about, 
.projects, 
.contact{
    margin: var(--margin-section);
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
   transform: translateY(0.5rem) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-0.5rem) rotate(-45deg);
}


.left-content-text {
    font-size: clamp(1.2rem, 2vw, 2rem);
}

.nav-lists {
    position: fixed;
    left: -100%;
    top: 4.4rem;
    gap: 0;
    flex-direction: column;
    background-color:var( --primary-clr--);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
}

.nav-list{
    margin: 1rem 0rem;
}

.nav-lists.active{
left: 0;
}

.left-content-para {
    font-size:0.9rem;
}

.hero-content-btn {
    width: 60%;
}

.hero-content-right {
    width: 60%;
    margin-top: 10%;
}

.card {
    width: 100%;
}

.about-flex-image {
    width: 100%;
}

.github-icon {
    width: 3%;
}

.contact-form-inputs {
    width: 85%;
}


.contact-bg-image {
    display: none;
    top: 30%;
    left: 50%;
    width: 70%;
}


.social-media-icon {
  width: 8%; 
}
